#root {
  margin: 0 auto;
  text-align: center;
  color: black;
}

.logo {
  height: 6em;
  will-change: filter;
  transition: filter 300ms;
  z-index: 1;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.menu-divider {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.menu-divider svg {
  position: relative;
  display: block;
  width: calc(161% + 1.3px);
  height: 207px;
  z-index: -1;
}

.menu-divider .shape-fill {
  fill: #00C0FF;
}

.menu-divider .text {
  display: flex;
  position: absolute;
  top: 0;
}

.menu-icon {
  display: flex;
  height: 8vh;
  margin-right: 2rem;
}

.menu-icon svg:hover {
  background-color: black;
  -webkit-filter: drop-shadow( 1px 1px 1px rgba(0, 257, 255, .5));
  filter: drop-shadow( 1px 1px 1px rgba(0, 157, 255, .5));
}

.menu-bar {
  display: flex;
  position: absolute;
  margin-top: 2rem;
  margin-left: 2rem;
}

.menu-buttton {
  display: flex;
  margin-right: 2rem;
  align-items: center;
}